@model IEnumerable<PackagePlane>

<!-- Page Title -->
<div class="page-title dark-background" data-aos="fade" style="background-image: url(FrontEnd/assets/img/page-title-bg.jpg);">
    <div class="container position-relative">
        <h1>Pricing</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Pricing</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Pricing Section -->
<section id="pricing" class="pricing section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span>Pricing</span>
        <h2>Pricing</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">


            @foreach(var item in Model)
            {
                <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pricing-item">
                        <h3>@item.Name</h3>
                        <h4><sup>$</sup>@item.Price<span> / month</span></h4>
                        <ul>
                            @foreach(var subitem in item._PackageMapper)
                            {
                                <li><i class="bi bi-check"></i> <span>@subitem.PackagePlaneProperty.Property</span></li>

                            }
                           
                        </ul>
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>

                <!-- End Pricing Item -->
            }
           

               

              

            </div>

        </div>

    </section><!-- /Pricing Section -->



