
@model IEnumerable<Service> 


<!-- Page Title -->
<div class="page-title dark-background" data-aos="fade" style="background-image: url(FrontEnd/assets/img/page-title-bg.jpg);">
    <div class="container position-relative">
        <h1>Services</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Services</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span>Our Services<br></span>
        <h2>Our ServiceS</h2>
        <p>We offer following Services in the logistics</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">


            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Uploads/service_images/@item.ImageUrl" height="300px" width="420px" alt="">
                        </div>
                        <h3>@item.Title</h3>
                        <p>
                            @item.Discription
                        </p>
                    </div>
                </div>
                <!-- End Card Item -->
            }

            </div>

        </div>

    </section><!-- /Services Section -->



